﻿@model IEnumerable<Volo.Lilit_Zarafyan.MVC.ViewModel.DepositViewModel>

@{
    ViewBag.Title = "ClosedDeposits";
}

<h2>Closed Deposits List</h2>

<p>
    @Html.ActionLink("Back To Active Deposits List", "Index", "Deposits", new { area = "Admin" }, "")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalProfitSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalProfitSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosedDate)
        </td>
       
    </tr>
}

</table>
