﻿@model Volo.Lilit_Zarafyan.MVC.ViewModel.DepositViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Close Deposit</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bank.BankInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FullName),
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepType.DepTypeInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartSum)
        </dd>
    </dl>

    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "close" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Close Deposit" class="btn btn-default" /><div id="close"></div> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
