﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Banking Deposit System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home", new { area = "" })' class="navbar-brand">
                    <img src='@Url.Content("~/Content/Images/logo.png")' />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "Admin" }, "")</li>
                    <li>@Html.ActionLink("Banks", "Index", "Banks", new { area = "Admin" }, "")</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers", new { area = "Admin" }, "")</li>
                    <li>@Html.ActionLink("Deposits", "Index", "Deposits", new { area = "Admin" }, "")</li>
                    <li>@Html.ActionLink("Search", "Index", "Search", new { area = "Admin" }, "")</li>
                </ul>
                <div class="navbar-right"><span>Hello Admin!</span></div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>