﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.front-page-content figure img{
    max-width: 100%;
    display: block;
    height: auto;
}

.front-page-content figure{
    margin-bottom:30px;
}
.front-page-content figure figcaption {
    text-align:center;
}

.front-page-content .carousel {
    margin-top: 30px;
    margin-bottom: 30px;
}
.carousel-inner .item{
    max-height: 480px;
}
.navbar-nav{
    margin-bottom: 0;
}
.navbar .navbar-right a, .navbar .navbar-right span{
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #999;
    background:transparent;
    line-height:20px;
    margin: 0 -15px;
}

.navbar .navbar-right a:hover, .navbar .navbar-right a:focus{
    color:#fff;
}
.my-70{
    margin-top: 70px;
    margin-bottom: 70px;
}

.mb-15{
    margin-bottom:15px;
}

.dropdown-menu{
    z-index:99999;
}

.navbar .navbar-collapse{
    margin-top: 10px;
}

.navbar-inverse .navbar-brand img{
    max-height: 60px;
    max-width: 200px;
    display: inline-block;
}
.navbar-toggle{
    margin-top: 20px;
}
@media (min-width: 768px){
    .navbar .navbar-right a, .navbar .navbar-right span {
         padding: 15px;
         padding-right: 0;
    }
    .navbar > .container .navbar-brand{
        padding: 5px 0;
        margin-left: 0;
    }
}