﻿@{
    ViewBag.Title = "Bank Deposit System";
}

<div class="front-page-content">
    <div class="row my-70">
        <div class="col-md-4">
            <figure>
                <img src="~/Content/Images/cumulative.png" alt="Cumulative" />
                <figcaption>
                    <h2>Cumulative Deposit 12%</h2>
                    @Html.ActionLink("Create Your Deposite", "Create", "Deposits", new { area = "Admin", id = 1 }, new { @class = "btn btn-primary" })
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="~/Content/Images/family.png" alt="family" />
                <figcaption>
                    <h2>Family Deposit 13%</h2>
                    @Html.ActionLink("Create Your Deposite", "Create", "Deposits", new { area = "Admin", id = 2 }, new { @class = "btn btn-primary" })
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="~/Content/Images/saving.png" alt="saving" />
                <figcaption>
                    <h2>Saving Deposit 9%</h2>
                    @Html.ActionLink("Create Your Deposite", "Create", "Deposits", new { area = "Admin", id=3 }, new { @class = "btn btn-primary" })
                </figcaption>
            </figure>
        </div>
    </div>
</div>