﻿@model IEnumerable<Volo.Lilit_Zarafyan.MVC.ViewModel.SearchViewModel>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Search Result</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepType)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepType.Name)
        </td>
        
    </tr>
}

</table>
<p>
    @Html.ActionLink("New Search", "Index", "Search", new { area = "Admin" })
</p>