﻿@{
    ViewBag.Title = "Internal";
}
<h3>High Loading......</h3>
<h4>
    We have temporary high loading. Please visit our home page and see our offers of @Html.ActionLink("Deposit Types", "Index", "Home")
</h4>
