﻿@{
    ViewBag.Title = "NotFound";
}
<h3>You enter wrong url address, please check it.</h3>
<h4>
    Also We are glad to inform you that We have The Best Offers for your Deposit. Please visit and look at our @Html.ActionLink("Deposit Types", "Index", "Home")
</h4>