﻿@model Volo.Lilit_Zarafyan.MVC.ViewModel.DepositViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Deposit</h2>
<!-- Trigger the modal with a button -->
<h3>
    Calculate your profit before creating Deposit
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Calculate</button>
</h3>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Calculate your profit before creating Deposit</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("CalculateProfit", "Deposits", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "calc" }))
                {
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.DepositId, new SelectList(Model.DepTypes, "Id", "Name"), "Select Deposit Type", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepTypes, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="number" name="money" placeholder="Enter Start Sum" class="form-control" required />
                        @Html.ValidationMessage("money", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="number" name="periodInMonth" placeholder="Enter Period in Month" class="form-control" required />
                        @Html.ValidationMessage("periodInMonth", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Calculate Profit" class="btn btn-info" />
                            <div id="calc"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BankId, "Bank", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BankId, new SelectList(Model.Banks, "Id", "BankName"), "Select....", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BankId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "Customer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "FullName"), "Select....", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

       <div class="form-group">
            @Html.LabelFor(model => model.DepTypes, "Deposit Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepositId, new SelectList(Model.DepTypes, "Id", "Name", @ViewBag.DepositId), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepTypes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.AddDays(1) } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartSum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartSum, new { htmlAttributes = new { @class = "form-control", @Value = "" } })
                @Html.ValidationMessageFor(model => model.StartSum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <div id="create"></div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Go back to Home page", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

