﻿@model Volo.Lilit_Zarafyan.MVC.ViewModel.CustomerViewModel

@{
    ViewBag.Title = "CreateError";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create Error</h2>
<p>This customer is already in database</p>

