﻿@model Volo.Lilit_Zarafyan.MVC.ViewModel.DepositViewModel

@{
    ViewBag.Title = "Bank Deposit System";
}

<div class="front-page-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Images/slide1.jpg" alt="Bank1">
            </div>

            <div class="item">
                <img src="~/Content/Images/slide2.jpg" alt="Bank2">
            </div>

            <div class="item">
                <img src="~/Content/Images/slide3.jpg" alt="Bank3">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <figure>
                <img src="~/Content/Images/cumulative.png" alt="Cumulative" />
                <figcaption>
                    <h2>Cumulative Deposit 12%</h2>
                    @Html.ActionLink("Create Your Deposite", "Create", "Deposits",  new { id = 1 }, new { @class = "btn btn-primary" })
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="~/Content/Images/family.png" alt="family" />
                <figcaption>
                    <h2>Family Deposit 13%</h2>
                    @Html.ActionLink("Create Your Deposite", "Create", "Deposits", new { id = 2 }, new { @class = "btn btn-primary" })
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="~/Content/Images/saving.png" alt="saving" />
                <figcaption>
                    <h2>Saving Deposit 9%</h2>
                    @Html.ActionLink("Create Your Deposite", "Create", "Deposits", new { id=3 }, new { @class = "btn btn-primary" })
                </figcaption>
            </figure>
        </div>
    </div>
</div>