﻿@model Volo.Lilit_Zarafyan.MVC.ViewModel.BankViewModel

@{
    ViewBag.Title = "Destroy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Destroy Bank</h2>

<h3>Are you sure you want to destroy this Bank?</h3>
<div>
     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>
    </dl>

    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "destroy" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Destroy Bank" class="btn btn-default" />
            <div id="destroy"></div> | @Html.ActionLink("Back to List", "Index")
            
        </div>
    }
</div>
